@use "../../utils" as *;

@mixin chip--styles {
  cursor: pointer;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  user-select: none;

  display: inline-flex;
  justify-content: center;
  align-items: center;

  &::before,
  &::after {
    box-sizing: border-box;
  }

  @include disabled {
    pointer-events: none;
  }
}

