@use "../../styles" as *;
@use "baka--core" as *;

.baka-button {
  --negative-margin: -8px;
  @include label-large;
  position: relative;

  height: 40px;
  width: auto;

  gap: 8px;

  border-width: 1px;
  border-style: solid;
  border-radius: 100px;
  border-color: transparent;

  @include motion-transition-TBD(box-shadow);

  @include state-layer {
    content: "";
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: calc(100% + 2px);
    height: calc(100% + 2px);
    margin-left: -1px;
    margin-top: -1px;
    background: transparent;

    @include motion-transition-TBD(background);
  }

  @supports (selector(:has(*))) {
    &:has(.baka-icon) {
      gap: 16px;

      & > .baka-icon {
        margin: 0 -8px;
      }
    }
  }

  @supports not (selector(:has(*))) {
    gap: 16px;

    & > .baka-icon {
      margin: 0 -8px;
    }
  }

  @include variant(filled) {
    color: $on-primary;
    background: $primary;
    padding: 10px 24px;

    @include hover {
      @include state-layer {
        background: rgba($on-primary-rgb, 0.08);
      }
      box-shadow: map-get($elevation, 1);
    }

    @include focus {
      @include state-layer {
        background: rgba($on-primary-rgb, 0.12);
      }
    }

    @include active {
      @include state-layer {
        background: rgba($on-primary-rgb, 0.12);
      }
    }

    @include disabled {
      color: rgba($on-surface-rgb, 0.38);
      background: none;

      @include state-layer {
        background: rgba($on-surface-rgb, 0.12);
      }
    }
  }

  @include variant(outlined) {
    background: transparent;
    color: $primary;
    border-color: $outline;
    padding: 10px 24px;

    @include hover {
      @include state-layer {
        background: rgba($primary-rgb, 0.08);
      }
      box-shadow: none;
    }

    @include focus {
      @include state-layer {
        background: rgba($primary-rgb, 0.12);
      }
    }

    @include active {
      @include state-layer {
        background: rgba($primary-rgb, 0.12);
      }
    }

    @include disabled {
      color: rgba($on-surface-rgb, 0.38);
      border-color: rgba($on-surface-rgb, 0.12);

      @include state-layer {
        background: transparent;
      }
    }
  }

  @include variant(text, true) {
    background: transparent;
    color: $primary;
    padding: 10px 12px;

    @include hover {
      @include state-layer {
        background: rgba($primary-rgb, 0.08);
      }
      box-shadow: none;
    }

    @include focus {
      @include state-layer {
        background: rgba($primary-rgb, 0.12);
      }
    }

    @include active {
      @include state-layer {
        background: rgba($primary-rgb, 0.12);
      }
    }

    @include disabled {
      color: rgba($on-surface-rgb, 0.38);

      @include state-layer {
        background: transparent;
      }
    }

    @supports (selector(:has(*))) {
      &:has(.baka-icon) {
        padding: 10px 16px;
        & > .baka-icon {
          margin: 0 var(--negative-margin);
        }
      }
    }
  }

  @include variant(elevated) {
    background: $surface-container-low;
    color: $primary;
    box-shadow: map-get($elevation, 1);
    border-color: transparent;
    padding: 10px 24px;

    @include hover {
      @include state-layer {
        background: rgba($primary-rgb, 0.08);
      }
      box-shadow: map-get($elevation, 2);
    }

    @include focus {
      @include state-layer {
        background: rgba($primary-rgb, 0.12);
      }
    }

    @include active {
      @include state-layer {
        background: rgba($primary-rgb, 0.12);
      }
    }

    @include disabled {
      color: rgba($on-surface-rgb, 0.38);
      box-shadow: none;
      background: none;

      @include state-layer {
        background: rgba($on-surface-rgb, 0.12);
      }
    }
  }

  @include variant(tonal) {
    background: $secondary-container;
    color: $on-secondary-container;
    border-color: transparent;
    padding: 10px 24px;

    @include hover {
      @include state-layer {
        background: rgba($on-secondary-container-rgb, 0.08);
      }
      box-shadow: map-get($elevation, 1);
    }

    @include focus {
      @include state-layer {
        background: rgba($on-secondary-container-rgb, 0.12);
      }
    }

    @include active {
      @include state-layer {
        background: rgba($on-secondary-container-rgb, 0.12);
      }
    }

    @include disabled {
      color: rgba($on-surface-rgb, 0.38);
      background: none;

      @include state-layer {
        background: rgba($on-surface-rgb, 0.12);
      }
    }
  }

  @include variant(icon) {
    --negative-margin: 0;
    color: $on-surface-variant;
    padding: 8px;
    padding-inline-start: 8px;
    width: 48px;
    height: 48px;

    @include hover {
      @include state-layer {
        background: rgba($on-surface-variant-rgb, 0.08);
      }

      box-shadow: none;
    }

    @include focus {
      @include state-layer {
        background: rgba($on-surface-variant-rgb, 0.12);
      }
    }

    @include active {
      @include state-layer {
        background: rgba($on-surface-variant-rgb, 0.12);
      }
    }

    @include disabled {
      color: rgba($on-surface-rgb, 0.38);
    }
  }

  @include variant((icon, filled)) {
    color: $on-primary;

    @include disabled {
      color: rgba($on-surface-rgb, 0.38);
    }
  }

  @include variant((icon, toggle)) {
    @include selected {
      color: $primary;

      .baka-icon {
        font-variation-settings: $font-variation, "FILL" 1;
      }
    }

    @include hover {
      @include selected {
        @include state-layer {
          background: rgba($primary-rgb, 0.08);
        }
      }
    }

    @include focus {
      @include selected {
        @include state-layer {
          background: rgba($primary-rgb, 0.12);
        }
      }
    }

    @include active {
      @include selected {
        @include state-layer {
          background: rgba($primary-rgb, 0.12);
        }
      }
    }

    @include disabled {
      color: rgba($on-surface-rgb, 0.38);
    }
  }

  @include variant((icon, toggle, filled)) {
    color: $primary;
    background: $surface-container-highest;

    @include selected {
      color: $on-primary;
      background: $primary;

      .baka-icon {
        font-variation-settings: $font-variation, "FILL" 1;
      }
    }

    @include disabled {
      color: rgba($on-surface-rgb, 0.38);
      background-color: rgba($on-surface-rgb, 0.12);

      @include state-layer {
        background: rgba($on-surface-rgb, 0.12);
      }

      @include selected {
        color: rgba($on-surface-rgb, 0.38);
        background: rgba($on-surface-rgb, 0.12);
      }
    }
  }

  @include variant((icon, toggle, tonal)) {
    color: $on-secondary-container;
    background: $surface-container-highest;

    @include selected {
      color: $on-secondary-container;
      background: $secondary-container;

      .baka-icon {
        font-variation-settings: $font-variation, "FILL" 1;
      }
    }

    @include disabled {
      color: rgba($on-surface-rgb, 0.38);
      background-color: rgba($on-surface-rgb, 0.12);

      @include state-layer {
        background: rgba($on-surface-rgb, 0.12);
      }

      @include selected {
        color: rgba($on-surface-rgb, 0.38);
        background: rgba($on-surface-rgb, 0.12);
      }
    }
  }

  @include variant((icon, toggle, outlined)) {
    @include selected {
      border-color: transparent;
      color: $inverse-on-surface;
      background: $inverse-surface;

      @include hover {
        @include state-layer {
          background: rgba($inverse-on-surface-rgb, 0.08);
        }
      }

      @include focus {
        @include state-layer {
          background: rgba($inverse-on-surface-rgb, 0.12);
        }
      }

      @include active {
        @include state-layer {
          background: rgba($inverse-on-surface-rgb, 0.12);
        }
      }

      @include disabled {
        color: rgba($on-surface-rgb, 0.38);
        background: none;

        @include state-layer {
          background: rgba($on-surface-rgb, 0.12);
        }
      }
    }
  }

  // TODO: ripple
  @include variant(fab) {
    --negative-margin: 0;
    height: auto;
    border-radius: 16px;
    padding: 16px;
    background: $surface-container-high;
    box-shadow: map-get($elevation, 3);
    margin: 0;

    @include state-layer {
      border-radius: 16px;
    }

    @include hover {
      box-shadow: map-get($elevation, 4);
    }
  }

  @include variant((fab, primary)) {
    color: $on-primary-container;
    background: $primary-container;

    @include hover {
      @include state-layer {
        background: rgba($on-primary-container-rgb, 0.08);
      }
    }

    @include focus {
      @include state-layer {
        background: rgba($on-primary-container-rgb, 0.12);
      }
    }

    @include active {
      @include state-layer {
        background: rgba($on-primary-container-rgb, 0.12);
      }
    }
  }

  @include variant((fab, secondary)) {
    color: $on-secondary-container;
    background: $secondary-container;

    @include hover {
      @include state-layer {
        background: rgba($on-secondary-container-rgb, 0.08);
      }
    }

    @include focus {
      @include state-layer {
        background: rgba($on-secondary-container-rgb, 0.12);
      }
    }

    @include active {
      @include state-layer {
        background: rgba($on-secondary-container-rgb, 0.12);
      }
    }
  }

  @include variant((fab, tertiary)) {
    color: $on-tertiary-container;
    background: $tertiary-container;

    @include hover {
      @include state-layer {
        background: rgba($on-tertiary-container-rgb, 0.08);
      }
    }

    @include focus {
      @include state-layer {
        background: rgba($on-tertiary-container-rgb, 0.12);
      }
    }

    @include active {
      @include state-layer {
        background: rgba($on-tertiary-container-rgb, 0.12);
      }
    }
  }

  @include variant((fab, small)) {
    padding: 8px;
    border-radius: 12px;

    @include state-layer {
      border-radius: 12px;
    }
  }

  @include variant((fab, large)) {
    padding: 30px;
    border-radius: 28px;

    @include state-layer {
      border-radius: 28px;
    }
  }

  @include variant((fab, extended)) {
    padding-right: 20px;
    gap: 12px;
  }
}
