@use "sass:map";
@use "baka-ui" as baka;

$_default_radii: (
  none: 0,
  small: 2px,
  medium: 4px,
  large: 6px,
  x-large: 8px,
  // need 10px for the switch
  xx-large: 10px,
  circle: 99px,
);

$radii: () !default;
$radii: map.merge($_default-radii, $radii);
$_radii: map.merge($radii, ());

@each $name, $value in $radii {
  $radii: map.merge($radii, (#{$name}: var(--radii--#{$name}, $value)));
}

@mixin radii--styles($r: $_radii) {
  @include baka.css-vars($radii, --radii);
}
