@use "sass:map";

@use "baka-core" as baka;

@use "./colors" as *;

$_default-swatch: (
  // Neutral
  neutral-background-1: map-get($grey, white),
  neutral-background-1-hover: map-get($grey, 96),
  neutral-background-1-pressed: map-get($grey, 88),
  neutral-background-1-selected: map-get($grey, 92),
  neutral-background-2: map-get($grey, 98),
  neutral-background-2-hover: map-get($grey, 94),
  neutral-background-2-pressed: map-get($grey, 86),
  neutral-background-2-selected: map-get($grey, 90),
  neutral-background-3: map-get($grey, 96),
  neutral-background-3-hover: map-get($grey, 92),
  neutral-background-3-pressed: map-get($grey, 84),
  neutral-background-3-selected: map-get($grey, 88),
  neutral-background-4: map-get($grey, 94),
  neutral-background-4-hover: map-get($grey, 98),
  neutral-background-4-pressed: map-get($grey, 96),
  neutral-background-4-selected: map-get($grey, white),
  neutral-background-5: map-get($grey, 92),
  neutral-background-5-hover: map-get($grey, 96),
  neutral-background-5-pressed: map-get($grey, 94),
  neutral-background-5-selected: map-get($grey, 98),
  neutral-background-6: map-get($grey, 90),
  neutral-background-inverted: map-get($grey, 16),
  neutral-background-inverted-disabled: map-get($grey, 94),
  neutral-background-alpha-1: color-mix(in srgb, map-get($grey, white) 0.5 * 100%, transparent),
  neutral-background-alpha-2: color-mix(in srgb, map-get($grey, white) 0.8 * 100%, transparent),
  neutral-background-static: map-get($grey, 20),
  neutral-background-subtle: color-mix(in srgb, map-get($grey, white) 0 * 100%, transparent),
  neutral-background-subtle-hover: map-get($grey, 96),
  neutral-background-subtle-pressed: map-get($grey, 88),
  neutral-background-subtle-selected: map-get($grey, 92),
  neutral-background-subtle-light-alpha-hover: color-mix(in srgb, map-get($grey, white) 0.7 * 100%, transparent),
  neutral-background-subtle-light-alpha-pressed: color-mix(in srgb, map-get($grey, white) 0.5 * 100%, transparent),
  neutral-background-subtle-light-alpha-selected: color-mix(in srgb, map-get($grey, white) 0 * 100%, transparent),
  neutral-background-subtle-inverted: color-mix(in srgb, map-get($grey, white) 0 * 100%, transparent),
  neutral-background-subtle-inverted-hover: color-mix(in srgb, map-get($grey, black) 0.1 * 100%, transparent),
  neutral-background-subtle-inverted-pressed: color-mix(in srgb, map-get($grey, black) 0.3 * 100%, transparent),
  neutral-background-subtle-inverted-selected: color-mix(in srgb, map-get($grey, black) 0.2 * 100%, transparent),
  neutral-background-transparent: color-mix(in srgb, map-get($grey, white) 0 * 100%, transparent),
  neutral-background-transparent-hover: color-mix(in srgb, map-get($grey, white) 0 * 100%, transparent),
  neutral-background-transparent-pressed: color-mix(in srgb, map-get($grey, white) 0 * 100%, transparent),
  neutral-background-transparent-selected: color-mix(in srgb, map-get($grey, white) 0 * 100%, transparent),
  neutral-background-disabled: map-get($grey, 94),
  neutral-background-stencil-1: map-get($grey, 90),
  neutral-background-stencil-2: map-get($grey, 98),
  neutral-background-overlay: color-mix(in srgb, map-get($grey, black) 0.4 * 100%, transparent),
  neutral-background-overlay-scrollbar: color-mix(in srgb, map-get($grey, black) 0.5 * 100%, transparent),
  neutral-foreground-1: map-get($grey, 14),
  neutral-foreground-1-hover: map-get($grey, 14),
  neutral-foreground-1-pressed: map-get($grey, 14),
  neutral-foreground-1-selected: map-get($grey, 14),
  neutral-foreground-2: map-get($grey, 26),
  neutral-foreground-2-hover: map-get($grey, 14),
  neutral-foreground-2-pressed: map-get($grey, 14),
  neutral-foreground-2-selected: map-get($grey, 14),
  neutral-foreground-2-brand-hover: map-get($green-blue, 80),
  neutral-foreground-2-brand-pressed: map-get($green-blue, 70),
  neutral-foreground-2-brand-selected: map-get($green-blue, 80),
  neutral-foreground-2-link: map-get($grey, 26),
  neutral-foreground-2-link-hover: map-get($grey, 14),
  neutral-foreground-2-link-pressed: map-get($grey, 14),
  neutral-foreground-2-link-selected: map-get($grey, 14),
  neutral-foreground-3: map-get($grey, 38),
  neutral-foreground-3-hover: map-get($grey, 26),
  neutral-foreground-3-pressed: map-get($grey, 26),
  neutral-foreground-3-brand: map-get($green-blue, 80),
  neutral-foreground-3-brand-pressed: map-get($green-blue, 70),
  neutral-foreground-3-brand-selected: map-get($green-blue, 80),
  neutral-foreground-4: map-get($grey, 44),
  neutral-foreground-disabled: map-get($grey, 74),
  neutral-foreground-static: map-get($grey, 14),
  neutral-foreground-static-inverted: map-get($grey, white),
  neutral-foreground-inverted-disabled: color-mix(in srgb, map-get($grey, white) 0.4 * 100%, transparent),
  neutral-foreground-inverted-1: map-get($grey, white),
  neutral-foreground-inverted-1-hover: map-get($grey, white),
  neutral-foreground-inverted-1-pressed: map-get($grey, white),
  neutral-foreground-inverted-1-selected: map-get($grey, white),
  neutral-foreground-inverted-2: map-get($grey, white),
  neutral-foreground-inverted-link: map-get($grey, white),
  neutral-foreground-inverted-link-hover: map-get($grey, white),
  neutral-foreground-inverted-link-pressed: map-get($grey, white),
  neutral-foreground-inverted-link-selected: map-get($grey, white),
  neutral-foreground-on-brand: map-get($grey, white),
  neutral-stroke-1: map-get($grey, 82),
  neutral-stroke-1-hover: map-get($grey, 78),
  neutral-stroke-1-pressed: map-get($grey, 70),
  neutral-stroke-1-selected: map-get($grey, 74),
  neutral-stroke-2: map-get($grey, 88),
  neutral-stroke-3: map-get($grey, 94),
  neutral-stroke-alpha-1: color-mix(in srgb, map-get($grey, black) 0.05 * 100%, transparent),
  neutral-stroke-alpha-2: color-mix(in srgb, map-get($grey, white) 0.2 * 100%, transparent),
  neutral-stroke-subtle: map-get($grey, 88),
  neutral-stroke-on-brand-1: map-get($grey, white),
  neutral-stroke-on-brand-2: map-get($grey, white),
  neutral-stroke-on-brand-2-hover: map-get($grey, white),
  neutral-stroke-on-brand-2-pressed: map-get($grey, white),
  neutral-stroke-on-brand-2-selected: map-get($grey, white),
  neutral-stroke-accessible: map-get($grey, 38),
  neutral-stroke-accessible-hover: map-get($grey, 34),
  neutral-stroke-accessible-pressed: map-get($grey, 30),
  neutral-stroke-accessible-selected: map-get($green-blue, 80),
  neutral-stroke-focus-1: map-get($grey, white),
  neutral-stroke-focus-2: map-get($grey, black),
  neutral-stroke-transparent: color-mix(in srgb, map-get($grey, white) 0 * 100%, transparent),
  neutral-stroke-transparent-interactive: color-mix(in srgb, map-get($grey, white) 0 * 100%, transparent),
  neutral-stroke-transparent-disabled: color-mix(in srgb, map-get($grey, white) 0 * 100%, transparent),
  neutral-stroke-disabled: map-get($grey, 88),
  neutral-stroke-disabled-inverted: color-mix(in srgb, map-get($grey, white) 0.4 * 100%, transparent),
  // Brand
  brand-background-1: map-get($green-blue, 80),
  brand-background-1-hover: map-get($green-blue, 70),
  brand-background-1-pressed: map-get($green-blue, 40),
  brand-background-1-selected: map-get($green-blue, 60),
  brand-background-2: map-get($green-blue, 160),
  brand-background-2-hover: map-get($green-blue, 150),
  brand-background-2-pressed: map-get($green-blue, 130),
  brand-background-inverted: map-get($grey, white),
  brand-background-inverted-hover: map-get($green-blue, 160),
  brand-background-inverted-pressed: map-get($green-blue, 140),
  brand-background-inverted-selected: map-get($green-blue, 150),
  brand-background-static: map-get($green-blue, 80),
  brand-background-compound: map-get($green-blue, 80),
  brand-background-compound-hover: map-get($green-blue, 70),
  brand-background-compound-pressed: map-get($green-blue, 60),
  brand-foreground-1: map-get($green-blue, 80),
  brand-foreground-2: map-get($green-blue, 70),
  brand-foreground-2-hover: map-get($green-blue, 60),
  brand-foreground-2-pressed: map-get($green-blue, 30),
  brand-foreground-link: map-get($green-blue, 70),
  brand-foreground-link-hover: map-get($green-blue, 60),
  brand-foreground-link-pressed: map-get($green-blue, 40),
  brand-foreground-link-selected: map-get($green-blue, 70),
  brand-foreground-inverted: map-get($green-blue, 100),
  brand-foreground-inverted-hover: map-get($green-blue, 110),
  brand-foreground-inverted-pressed: map-get($green-blue, 100),
  brand-foreground-on-light: map-get($green-blue, 80),
  brand-foreground-on-light-hover: map-get($green-blue, 70),
  brand-foreground-on-light-pressed: map-get($green-blue, 50),
  brand-foreground-on-light-selected: map-get($green-blue, 60),
  brand-foreground-compound: map-get($green-blue, 80),
  brand-foreground-compound-hover: map-get($green-blue, 70),
  brand-foreground-compound-pressed: map-get($green-blue, 60),
  brand-stroke-1: map-get($green-blue, 80),
  brand-stroke-2: map-get($green-blue, 140),
  brand-stroke-2-hover: map-get($green-blue, 120),
  brand-stroke-2-pressed: map-get($green-blue, 80),
  brand-stroke-2-contrast: map-get($green-blue, 140),
  brand-stroke-compound: map-get($green-blue, 80),
  brand-stroke-compound-hover: map-get($green-blue, 70),
  brand-stroke-compound-pressed: map-get($green-blue, 60),
  // Status
  status-danger-background-1: #fdf3f4,
  status-danger-background-3: #c50f1f,
  status-danger-foreground-1: #b10e1c,
  status-danger-foreground-3: #d13438,
  status-danger-stroke-1: #eeacb2,
  status-danger-stroke-2: #c50f1f,
  status-success-background-1: #f1faf1,
  status-success-background-3: #107c10,
  status-success-foreground-1: #0e700e,
  status-success-foreground-3: #107c10,
  status-success-foreground-inverted: #359b35,
  status-success-stroke-1: #9fd89f,
  status-success-stroke-2: #107c10,
  status-severe-background-1: #fdf6f3,
  status-severe-background-3: #da3b01,
  status-severe-foreground-1: #c43501,
  status-severe-foreground-3: #da3b01,
  status-sever-stroke-1: #f4bfab,
  status-warning-background-1: #fff9f5,
  status-warning-background-3: #f7630c,
  status-warning-foreground-1: #bc4b09,
  status-warning-foreground-2: #8a3707,
  status-warning-stroke-1: #FDCFB4,
  status-oof-foreground-3: #c239b3,
  status-away-background-3: #eaa300,
  status-available-foreground-3: #13a10e,
  status-generic-darkred-background-2: #d69ca5,
  status-generic-darkred-foreground-2: #420610,
  status-generic-darkred-stroke-active: #750b1c,
  status-generic-cranberry-background-2: #eeacb2,
  status-generic-cranberry-foreground-2: #6e0811,
  status-generic-cranberry-stroke-active: #c50f1f,
  status-generic-red-background-2: #f1bbbc,
  status-generic-red-foreground-2: #751d1f,
  status-generic-red-stroke-active: #d13438,
  status-generic-pumpkin-background-2: #efc4ad,
  status-generic-pumpkin-foreground-2: #712d09,
  status-generic-pumpkin-stroke-active: #ca5010,
  status-generic-peach-background-2: #ffddb3,
  status-generic-peach-foreground-2: #8f4e00,
  status-generic-peach-stroke-active: #ff8c00,
  status-generic-marigold-background-2: #f9e2ae,
  status-generic-marigold-foreground-2: #835b00,
  status-generic-marigold-stroke-active: #eaa300,
  status-generic-gold-background-2: #ecdfa5,
  status-generic-gold-foreground-2: #6d5700,
  status-generic-gold-stroke-active: #c19c00,
  status-generic-brass-background-2: #e0cea2,
  status-generic-brass-foreground-2: #553e06,
  status-generic-brass-stroke-active: #986f0b,
  status-generic-brown-background-2: #ddc3b0,
  status-generic-brown-foreground-2: #50301a,
  status-generic-brown-stroke-active: #8e562e,
  status-generic-forest-background-2: #bdd99b,
  status-generic-forest-foreground-2: #294903,
  status-generic-forest-stroke-active: #498205,
  status-generic-seafoam-background-2: #a8f0cd,
  status-generic-seafoam-foreground-2: #00723b,
  status-generic-seafoam-stroke-active: #00cc6a,
  status-generic-darkgreen-background-2: #9ad29a,
  status-generic-darkgreen-foreground-2: #063b06,
  status-generic-darkgreen-stroke-active: #0b6a0b,
  status-generic-lightteal-background-2: #a6e9ed,
  status-generic-lightteal-foreground-2: #00666d,
  status-generic-lightteal-stroke-active: #00b7c3,
  status-generic-teal-background-2: #9bd9db,
  status-generic-teal-foreground-2: #02494c,
  status-generic-teal-stroke-active: #038387,
  status-generic-steel-background-2: #94c8d4,
  status-generic-steel-foreground-2: #00333f,
  status-generic-steel-stroke-active: #005b70,
  status-generic-blue-background-2: #a9d3f2,
  status-generic-blue-foreground-2: #004377,
  status-generic-blue-stroke-active: #0078d4,
  status-generic-royalroyal-background-2: #9abfdc,
  status-generic-royalroyal-foreground-2: #002c4e,
  status-generic-royalroyal-stroke-active: #004e8c,
  status-generic-cornflower-background-2: #c8d1fa,
  status-generic-cornflower-foreground-2: #2c3c85,
  status-generic-cornflower-stroke-active: #4f6bed,
  status-generic-navy-background-2: #a3b2e8,
  status-generic-navy-foreground-2: #001665,
  status-generic-navy-stroke-active: #0027b4,
  status-generic-lavender-background-2: #a3b2e8,
  status-generic-lavender-foreground-2: #3f3682,
  status-generic-lavender-stroke-active: #7160e8,
  status-generic-purple-background-2: #c6b1de,
  status-generic-purple-foreground-2: #341a51,
  status-generic-purple-stroke-active: #5c2e91,
  status-generic-grape-background-2: #d9a7e0,
  status-generic-grape-foreground-2: #4c0d55,
  status-generic-grape-stroke-active: #881798,
  status-generic-lilac-background-2: #e6bfed,
  status-generic-lilac-foreground-2: #63276d,
  status-generic-lilac-stroke-active: #b146c2,
  status-generic-pink-background-2: #f7c0e3,
  status-generic-pink-foreground-2: #80215d,
  status-generic-pink-stroke-active: #e43ba6,
  status-generic-magenta-background-2: #eca5d1,
  status-generic-magenta-foreground-2: #6b0043,
  status-generic-magenta-stroke-active: #bf0077,
  status-generic-plum-background-2: #d696c0,
  status-generic-plum-foreground-2: #43002b,
  status-generic-plum-stroke-active: #bf0077,
  status-generic-beige-background-2: #d7d4d4,
  status-generic-beige-foreground-2: #444241,
  status-generic-beige-stroke-active: #7a7574,
  status-generic-mink-background-2: #cecccb,
  status-generic-mink-foreground-2: #343231,
  status-generic-mink-stroke-active: #5d5a58,
  status-generic-platinum-background-2: #cdd6d8,
  status-generic-platinum-foreground-2: #3b4447,
  status-generic-platinum-stroke-active: #69797e,
  status-generic-anchor-background-2: #bcc3c7,
  status-generic-anchor-foreground-2: #202427,
  status-generic-anchor-stroke-active: #394146,
  // Shadow
  shadow-ambient: color-mix(in srgb, map-get($grey, black) 0.12 * 100%, transparent),
  shadow-ambient-lighter: color-mix(in srgb, map-get($grey, black) 0.06 * 100%, transparent),
  shadow-ambient-darker: color-mix(in srgb, map-get($grey, black) 0.2 * 100%, transparent),
  shadow-ambient-brand: color-mix(in srgb, map-get($grey, black) 0.3 * 100%, transparent),
  shadow-key: color-mix(in srgb, map-get($grey, black) 0.14 * 100%, transparent),
  shadow-key-lighter: color-mix(in srgb, map-get($grey, black) 0.07 * 100%, transparent),
  shadow-key-darker: color-mix(in srgb, map-get($grey, black) 0.24 * 100%, transparent),
  shadow-key-brand: color-mix(in srgb, map-get($grey, black) 0.25 * 100%, transparent)
);

$swatch: () !default;
$swatch: map-merge($_default-swatch, $swatch);
$_swatch: map-merge($swatch, ());

@each $name, $value in $swatch {
  $swatch: map.merge($swatch, (#{$name}: var(--swatch--#{$name}, $value)));
}

@mixin swatch--styles($sw: $_swatch) {
  @include baka.css-vars($sw, --swatch);
}
