@use "../../design" as *;
@use "baka-core" as baka;

@mixin input--styles {
  .baka-input {
    @include baka.input--styles;
    @include body-large;
    border: none;
    background: none;
    outline: none;

    color: map-get($swatch, on-surface);
    caret-color: map-get($swatch, primary);
  }
}
