@use "../../styles" as *;
@use "baka--core" as *;

.baka-radio-button {
  --background: #{$on-surface-variant};
  --state: #{$on-surface-rgb};
  --ripple: #{$on-surface};

  width: 24px;
  height: 24px;
  
  border-width: 2px;
  border-style: solid;
  border-color: var(--background);
  border-radius: 100px;

  @include state-layer {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 48px;
    height: 48px;
    transform: translate(-50%, -50%);
    background: var(--state);
    border-radius: 100px;

    @include motion-transition-TBD(background-color, color);
    transition-delay: 0.05s, 0s;
  }

  @include ripple(var(--ripple), $scale: 17);

  @include hover {
    @include state-layer {
      background-color: rgba(var(--state), 0.08);
    }
  }

  @include focus {
    @include state-layer {
      background-color: rgba(var(--state), 0.12);
    }
  }

  @include active {
    @include state-layer {
      background-color: rgba(var(--state), 0.12);
    }
  }

  @include checked {
    --background: #{$primary};
    --ripple: #{$primary};
    --state: #{$primary-rgb};

    outline: 3px solid $surface;
    outline-offset: -5px;
    background: var(--background);
  }

  @include disabled {
    pointer-events: none;
    --background: #{$on-surface};
    --border: #{$on-surface};
    opacity: 0.38;
  }
}
