@use "../../styles" as *;
@use "@baka/design-core" as *;

.baka-switch {
  --background: #{$surface-container-highest};
  --outline: #{$outline};
  --border: #{$outline};
  --state: #{$on-surface-rgb};
  --disabled: transparent;
  --content: "close";
  --left: 16px;

  appearance: none;
  border-radius: 100px;

  width: 52px;
  height: 32px;

  background: var(--background);

  outline-style: solid;
  outline-color: var(--border);
  outline-width: 2px;
  outline-offset: -1px;

  @include motion-transition-TBD(background, outline-color);

  @include state-layer {
    content: "";
    position: absolute;
    top: 50%;
    left: var(--left);
    width: 16px;
    height: 16px;
    padding: 22px;
    transform: translate(-50%, -50%);

    border-radius: 100px;
    outline-color: var(--outline);
    outline-style: solid;
    outline-width: 8px;
    outline-offset: -24px;

    @include motion-transition-TBD(width, height, outline-color, outline-width, left);
  }

  @include hover {
    --outline: #{$on-surface-variant};
    @include state-layer {
      background: rgba(var(--state), 0.08);
    }
  }

  @include focus {
    --outline: #{$on-surface-variant};
    @include state-layer {
      background: rgba(var(--state), 0.12);
    }
  }

  @include active {
    --outline: #{$on-surface-variant};

    @include state-layer {
      background: rgba(var(--state), 0.12);

      outline-width: 15px;
      outline-offset: -22px;
    }
  }

  @include disabled {
    --border: rgba(#{$on-surface-rgb}, 0.12);
    background: var(--disabled);
  }

  @include checked {
    --state: #{$primary-rgb};
    --background: #{$primary};
    --border: #{$primary};
    --outline: #{$on-primary};
    --content: "check";
    --left: 36px;

    @include hover {
      --outline: #{$primary-container};
    }

    @include focus {
      --outline: #{$primary-container};
    }

    @include active {
      --outline: #{$primary-container};
    }

    @include state-layer {
      outline-width: 12px;
      outline-offset: -22px;
    }

    @include active {
      @include state-layer {
        outline-width: 15px;
        outline-offset: -22px;
      }
    }

    @include disabled {
      outline-offset: 0;
      --border: rgba(#{$on-surface-rgb}, 0.12);
      --outline: #{$on-primary};
      --disabled: rgba(#{$on-surface-rgb}, 0.12);

      &::after {
        opacity: 0.38;
      }
    }
  }

  @include variant(icon) {
    @include state-layer {
      outline-width: 12px;
      outline-offset: -22px;
    }

    @include active {
      @include state-layer {
        outline-width: 15px;
        outline-offset: -22px;
      }
    }

    &::after {
      content: var(--content);
      z-index: 1;
      position: absolute;
      color: $on-primary;
      left: var(--left);
      transform: translate(-50%, 0);
      font-size: 16px;
      width: 16px;
      line-height: 32px;
      height: 100%;
      height: 100%;
      font-family: "Material Icons";
      font-family: "Material Symbols Outlined";

      @include motion-transition-TBD(color, left);
    }

    @include checked {
      &::after {
        color: $on-primary-container;
      }

      @include disabled {
        &::after {
          color: $outline;
        }
      }
    }
  }
}
