@use "baka-core" as baka;
@use "../../design" as *;

@mixin bar--styles {
  .baka-bar {
    @include baka.bar--styles;

    @include baka.variant(top, true) {
      display: flex;
      gap: 4px;
      align-items: center;
      justify-content: flex-start;

      @include baka.variant(flat, true) {
        color: map-get($swatch, on-surface);
        background: map-get($swatch, surface);
      }

      @include baka.variant(elevated) {
        color: map-get($swatch, on-surface);
        background: map-get($swatch, surface-container);
      }

      @include baka.variant(small, true) {
        min-height: 48px;
        flex-direction: row;
        padding: 8px 4px;
      }

      @include baka.variant(medium) {
        flex-direction: column;
        justify-content: center;
        align-items: stretch;
        padding-bottom: 24px;
      }

      @include baka.variant(large) {
        gap: 40px;
        justify-content: center;
        align-items: stretch;
        flex-direction: column;
        padding-bottom: 28px;
      }

      & > .baka-icon {
        padding: 8px;
      }
    }

    @include baka.variant(bottom) {
      background: map-get($swatch, surface-container);
      padding: 0px 16px 0px 4px;
      height: 80px;

      & .baka-button.variant--fab {
        box-shadow: none;

        @include baka.hover {
          box-shadow: none;
        }

        @include baka.focus {
          box-shadow: none;
        }

        @include baka.active {
          box-shadow: none;
        }
      }
    }
  }
}
