@use "baka-core" as baka;
@use "../../design" as *;

@mixin bottom-bar--styles {
  .baka-bottom-bar {
    background: map-get($swatch, surface-container);
    padding: 0px 16px 0px 4px;
    height: 80px;

    & .baka-button.variant--fab {
      box-shadow: none;

      @include baka.hover {
        box-shadow: none;
      }

      @include baka.focus {
        box-shadow: none;
      }

      @include baka.active {
        box-shadow: none;
      }
    }
  }
}
