@use "../../design" as *;
@use "baka-core" as *;

@mixin bottom-bar--styles {
  .baka-bottom-bar {
    @include core-bottom-bar--styles;
    background: $surface-container;
    padding: 0px 16px 0px 4px;
    height: 80px;

    & .baka-button.variant--fab {
      box-shadow: none;

      @include hover {
        box-shadow: none;
      }

      @include focus {
        box-shadow: none;
      }

      @include active {
        box-shadow: none;
      }
    }
  }
}