@use "sass:map";
@use "./styles" as material-you;
@use "./themes/dark" as dark;
@use "./components" as extended;

.material-you {
  :global {
    @include material-you.component--styles;
    @include material-you.design--styles();
    @include extended.component--styles();
  }

  color: map.get(material-you.$swatch, on-surface);
  background-color: map.get(material-you.$swatch, surface);

  font-size: 16px;
  text-size-adjust: auto;

  @media screen and (prefers-color-scheme: dark) {
    &:not(:global(.theme-light)) {
      @include dark.design--styles();
    }
  }
}
