@use "sass:map";
@use "baka-fluent-2" as *;

body {
  @include styles();

  margin: 0;
  display: flex;
  align-items: center;
  min-height: 100vh;

  background: map.get($swatch, neutral-background-2);

  &:has(.background-3) {
    background: map.get($swatch, neutral-background-3);
  }
}

.root {
  box-sizing: border-box;
  margin: auto;
  padding: 1rem;
  max-height: 100%;

  &:has(.width-full) {
    width: 100%;
  }
}
