@use "baka-core" as *;
@use "../../styles/" as *;

.katana-heading {
  color: swatch(emphasis);

  @include variant(hero) {
    font-size: 64px;
    font-weight: 800;
    font-family: map-get($font-family, serif);
  }

  @include variant(h1, true) {
    @include typography(h1);
  }

  @include variant(h2) {
    @include typography(h2);
  }

  @include variant(h3) {
    @include typography(h3);
  }

  @include variant(h4) {
    @include typography(h4);
  }

  @include variant(h5) {
    @include typography(h5);
  }

  @include variant(h6) {
    @include typography(h6);
  }
}

.katana-paragraph {
  @include typography(body);

  @include variant(sub-hero) {
    font-size: 20px;
    line-height: map-get($line-height, body);
  }

  @include variant(body-large) {
    @include typography(body-large);
  }

  @include variant(body-small) {
    @include typography(body-small);
  }
}

.katana-text {
  @include typography(body);

  @include variant(body-large) {
    @include typography(body-large);
  }

  @include variant(body-small) {
    @include typography(body-small);
  }

  @include variant(code) {
    @include typography(code);
  }
}

.katana-label {
  @include typography(body-small);

  @include variant(body) {
    @include typography(body);
  }

  @include variant(body-large) {
    @include typography(body-large);
  }
}
