@use "../../utils" as *;

@mixin core-switch--styles {
  cursor: pointer;
  position: relative;
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  flex-shrink: 0;
  box-sizing: border-box;
  margin: 0;
  text-rendering: auto;

  @include disabled {
    pointer-events: none;
  }
}

