@use 'sass:map';
@use "../../design" as *;
@use "baka-ui" as baka;

@mixin tooltip--styles {
  .baka-tooltip {
    @include body-small;

    display: flex;
    flex-direction: column;
    align-self: flex-start;
    border-radius: 12px;

    @include baka.variant(rich) {
      box-shadow: map.get($elevation, 2);
      color: map.get($swatch, on-surface);
      background: map.get($swatch, surface-container);
      gap: 8px;
      padding-bottom: 8px;
    }

    @include baka.variant(plain, true) {
      width: fit-content;
      padding: 4px 8px;
      gap: 10px;
      border-radius: 4px;
      color: map.get($swatch, inverse-on-surface);
      background: map.get($swatch, inverse-surface);
      box-shadow: none;
    }
  }
}
