@use "../../design" as *;
@use "baka-core" as baka;

@mixin tooltip--styles {
  .baka-tooltip {
    @include baka.tooltip--styles;
    @include body-small;

    display: flex;
    flex-direction: column;
    align-self: flex-start;
    border-radius: 12px;

    @include baka.variant(rich, true) {
      box-shadow: map-get($elevation, 2);
      color: map-get($swatch, on-surface);
      background: map-get($swatch, surface-container);
      gap: 8px;
      padding-bottom: 8px;
    }

    @include baka.variant(plain) {
      padding: 4px 8px;
      gap: 10px;
      border-radius: 4px;
      color: map-get($swatch, inverse-on-surface);
      background: map-get($swatch, inverse-surface);
      box-shadow: none;
    }
  }
}
