@use "../../styles" as *;
@use "baka--core" as *;

.baka-avatar {
  @include title-medium;

  border-radius: 100px;

  color: $primary;
  background-color: $primary-container;

  @include variant(small) {
    width: 24px;
    height: 24px;
  }

  @include variant(medium, true) {
    width: 40px;
    height: 40px;
  }
}
