@use "baka-core" as *;
@use "../../design" as *;

@mixin avatar--styles {
  .baka-avatar {
    @include core-avatar--styles;
    @include title-medium;

    border-radius: 100px;

    color: map-get($swatch, primary);
    background-color: map-get($swatch, primary-container);

    @include variant(small) {
      width: 24px;
      height: 24px;
    }

    @include variant(medium, true) {
      width: 40px;
      height: 40px;
    }
  }
}
