@use "sass:map";
@use "baka-ui" as baka;
@use "../../design" as *;
@use "../../common/focus.scss" as *;

@mixin accordion--styles {
  .baka-accordion {
    @include focus-indicator;
    @include body-1;

    width: 100%;
    display: inline-flex;

    gap: #{map.get($spacing, horizontal-s)};
    padding: #{map.get($spacing, vertical-m-nudge)} #{map.get(
        $spacing,
        horizontal-m-nudge
      )};

    color: map.get($swatch, neutral-foreground-1);

    .baka-text {
      flex-grow: 1;
    }

    @include baka.hover($readonly: false) {
      cursor: pointer;
      color: map.get($swatch, neutral-foreground-1-hover);
    }

    @include baka.focus($readonly: false) {
      outline: none;
    }
  }
}
