@use "sass:map";
@use "../../design" as *;
@use "baka-core" as baka;

@mixin input--styles {
  .baka-input {
    --input-placeholder-color: #{map.get($swatch, neutral-foreground-4)};
    @include baka.input--styles;
    @include body-1;

    min-height: 32px;
    background: none;

    &::placeholder {
      @include body-1;
 
      color: var(--input-placeholder-color);
    }

    @include baka.focus {
      outline: none;
    }

    @include baka.readonly {
      outline: none;
      --input-placeholder-color: #{map.get($swatch, neutral-foreground-1)};
    }

    @include baka.disabled {
      pointer-events: none;
      --input-placeholder-color: #{map.get($swatch, neutral-foreground-disabled)};
    }
  }
}
