@use "../../design" as *;
@use "baka-core" as baka;

@mixin bottom-sheet--styles {
  .baka-bottom-sheet {
    @include baka.bottom-sheet--styles;
    border-radius: 28px 28px 0 0;

    color: map-get($swatch, outline);
    background: map-get($swatch, surface-container-low);

    box-shadow: map-get($elevation, 3);

    @include baka.variant(modal) {
      box-shadow: none;
    }
  }
}
