@use "../../styles" as *;
@use "@baka/design-core" as *;

.baka-bottom-sheet {
  border-radius: 28px 28px 0 0;

  color: $outline;
  background: $surface-container-low;

  box-shadow: map-get($elevation, 3);

  @include variant(modal) {
    box-shadow: none;
  }
}
