@use "../../design" as *;
@use "baka-core" as baka;

@mixin bottom-navigation--styles {
  .baka-bottom-navigation {
    @include baka.bottom-navigation--styles;
    background: map-get($swatch, surface-container);
    padding: 0px 8px;
    height: 80px;

    justify-content: flex-start;
  }
}
