@use "../../design" as *;
@use "baka-core" as *;

@mixin bottom-navigation--styles {
  .baka-bottom-navigation {
    @include core-bottom-navigation--styles;
    background: $surface-container;
    padding: 0px 8px;
    height: 80px;

    justify-content: flex-start;
  }
}