@use "../../styles" as *;
@use "baka--core" as *;

.baka-bottom-navigation-item {
  --state: #{$on-surface-rgb};

  cursor: pointer;
  display: flex;
  flex-grow: 1;
  justify-content: center;
  height: 80px;
  gap: 4px;
  flex-direction: column;

  .baka-label {
    color: $on-surface-variant;
  }

  .baka-icon {
    border-radius: 16px;
    position: relative;
    padding: 4px 20px;
    color: $on-surface-variant;

    @include state-layer {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border-radius: 16px;
      width: 100%;
      height: 100%;
      background: transparent;

      @include motion-transition-TBD(background);
    }
  }

  @include hover {
    .baka-icon {
      @include state-layer {
        background: rgba(var(--state), 0.08);
      }
    }
  }

  @include focus {
    .baka-icon {
      @include state-layer {
        background: rgba(var(--state), 0.12);
      }
    }
  }

  @include active {
    .baka-icon {
      @include state-layer {
        background: rgba(var(--state), 0.12);
      }
    }
  }

  @include selected {
    --state: #{$on-secondary-container-rgb};
    .baka-label {
      color: $on-surface;
    }
    .baka-icon {
      color: $on-secondary-container;
      background-color: $secondary-container;
    }
  }
}
