@use "../../design" as *;
@use "baka-core" as baka;

@mixin bottom-navigation-item--styles {
  .baka-bottom-navigation-item {
    @include baka.bottom-navigation-item--styles;
    --state: #{map-get($swatch, on-surface)};

    cursor: pointer;
    display: flex;
    flex-grow: 1;
    justify-content: center;
    height: 80px;
    gap: 4px;
    flex-direction: column;

    .baka-label {
      color: map-get($swatch, on-surface-variant);
    }

    .baka-icon {
      border-radius: 16px;
      position: relative;
      padding: 4px 20px;
      color: map-get($swatch, on-surface-variant);

      @include state-layer {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 16px;
        width: 100%;
        height: 100%;
        background: transparent;

        @include motion-transition-TBD(background);
      }
    }

    @include baka.hover {
      .baka-icon {
        @include state-layer {
          background: color-mix(in srgb, var(--state) 0.08 * 100%, transparent);
        }
      }
    }

    @include baka.focus {
      .baka-icon {
        @include state-layer {
          background: color-mix(in srgb, var(--state) 0.12 * 100%, transparent);
        }
      }
    }

    @include baka.active {
      .baka-icon {
        @include state-layer {
          background: color-mix(in srgb, var(--state) 0.12 * 100%, transparent);
        }
      }
    }

    @include baka.selected {
      --state: #{map-get($swatch, on-secondary-container)};
      .baka-label {
        color: map-get($swatch, on-surface);
      }
      .baka-icon {
        color: map-get($swatch, on-secondary-container);
        background-color: map-get($swatch, secondary-container);
      }
    }
  }
}
