@use "../../design" as *;
@use "baka-core" as baka;

@mixin navigation-rail--styles {
  .baka-navigation-rail {
    @include baka.navigation-rail--styles;
    height: 100%;
    gap: 40px;
    padding: 12px 0 56px 0;

    & .baka-button.variant--fab {
      box-shadow: none;

      @include baka.hover {
        box-shadow: none;
      }

      @include baka.focus {
        box-shadow: none;
      }

      @include baka.active {
        box-shadow: none;
      }
    }
  }
}
