@use "../../design" as *;
@use "baka-core" as baka;

@mixin navigation-item--styles {
  .baka-navigation-item {
    @include baka.navigation-item--styles;
  }

  :where(.baka-navigation.variant--bottom) {
    .baka-navigation-item {
      --state: #{map-get($swatch, on-surface)};

      cursor: pointer;
      display: flex;
      flex-grow: 1;
      justify-content: center;
      height: 80px;
      gap: 4px;
      flex-direction: column;

      .baka-label {
        color: map-get($swatch, on-surface-variant);
      }

      .baka-icon {
        border-radius: 16px;
        position: relative;
        padding: 4px 20px;
        color: map-get($swatch, on-surface-variant);

        @include state-layer {
          content: "";
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          border-radius: 16px;
          width: 100%;
          height: 100%;
          background: transparent;

          @include motion-transition-TBD(background);
        }
      }

      @include baka.hover {
        .baka-icon {
          @include state-layer {
            background: color-mix(in srgb, var(--state) 0.08 * 100%, transparent);
          }
        }
      }

      @include baka.focus {
        .baka-icon {
          @include state-layer {
            background: color-mix(in srgb, var(--state) 0.12 * 100%, transparent);
          }
        }
      }

      @include baka.active {
        .baka-icon {
          @include state-layer {
            background: color-mix(in srgb, var(--state) 0.12 * 100%, transparent);
          }
        }
      }

      @include baka.selected {
        --state: #{map-get($swatch, on-secondary-container)};
        .baka-label {
          color: map-get($swatch, on-surface);
        }
        .baka-icon {
          color: map-get($swatch, on-secondary-container);
          background-color: map-get($swatch, secondary-container);
        }
      }
    }
  }
  :where(.baka-navigation.variant--rail) {
    .baka-navigation-item {
      --state: #{map-get($swatch, on-surface)};
      --vertical-padding: 16px;

      cursor: pointer;
      display: flex;
      flex-grow: 1;
      justify-content: center;
      height: 80px;
      gap: 4px;
      flex-direction: column;
      padding: 0 5px;

      .baka-label {
        color: map-get($swatch, on-surface-variant);
      }

      .baka-icon {
        border-radius: 100px;
        position: relative;
        width: 56px;
        padding: var(--vertical-padding) 16px;
        color: map-get($swatch, on-surface-variant);

        @include state-layer {
          content: "";
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          border-radius: 100px;
          width: 100%;
          height: 100%;
          background: transparent;

          @include motion-transition-TBD(background);
        }
      }

      @include baka.hover {
        .baka-icon {
          @include state-layer {
            background: color-mix(in srgb, var(--state) 0.08 * 100%, transparent);
          }
        }
      }

      @include baka.focus {
        .baka-icon {
          @include state-layer {
            background: color-mix(in srgb, var(--state) 0.12 * 100%, transparent);
          }
        }
      }

      @include baka.active {
        .baka-icon {
          @include state-layer {
            background: color-mix(in srgb, var(--state) 0.12 * 100%, transparent);
          }
        }
      }

      @include baka.selected {
        --state: #{map-get($swatch, on-secondary-container)};
        .baka-label {
          color: map-get($swatch, on-surface);
        }
        .baka-icon {
          color: map-get($swatch, on-secondary-container);
          background-color: map-get($swatch, secondary-container);
        }
      }

      &:has(.baka-label) {
        --vertical-padding: 4px;
      }
    }
  }
  :where(.baka-navigation.variant--side) {
    .baka-navigation-item {
      --color: #{map-get($swatch, on-surface-variant)};
      --state: #{map-get($swatch, on-surface)};

      gap: 12px;
      border-radius: 100px;
      padding: 16px 24px 16px 16px;

      color: var(--color);

      .baka-label,
      .baka-text {
        color: inherit;
      }

      .baka-label {
        flex-grow: 1;
      }

      @include state-layer {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 100px;
        background: transparent;

        @include motion-transition-TBD(color, background);
      }

      @include baka.hover(false) {
        cursor: pointer;

        @include state-layer {
          background: color-mix(in srgb, var(--state) 0.08 * 100%, transparent);
        }
      }

      @include baka.focus {
        @include state-layer {
          background: color-mix(in srgb, var(--state) 0.12 * 100%, transparent);
        }
      }

      @include baka.active {
        @include state-layer {
          background: color-mix(in srgb, var(--state) 0.12 * 100%, transparent);
        }
      }

      @include baka.selected {
        --color: map-get($swatch, on-secondary-container);
        --state: map-get($swatch, on-secondary-container);

        background: map-get($swatch, secondary-container);
      }

      :last-child {
        &:is(.baka-icon) {
          margin-right: -16px;
        }
      }
    }
  }
}
