@use "../../design" as *;
@use "baka-core" as *;

@mixin navigation-rail--styles {
  .baka-navigation-rail {
    @include core-navigation-rail--styles;
    height: 100%;
    gap: 40px;
    padding: 12px 0 56px 0;

    & .baka-button.variant--fab {
      box-shadow: none;

      @include hover {
        box-shadow: none;
      }

      @include focus {
        box-shadow: none;
      }

      @include active {
        box-shadow: none;
      }
    }
  }
}