@use "../../design" as *;
@use "baka-core" as baka;

@mixin side-navigation--styles {
  .baka-side-navigation {
    @include baka.side-navigation--styles;
    color: map-get($swatch, on-surface);
    background: map-get($swatch, surface-container);
    padding: 12px;
    border-radius: 16px;
  }
}
