@use "../../design" as *;
@use "baka-core" as *;

@mixin side-navigation--styles {
  .baka-side-navigation {
    @include core-side-navigation--styles;
    color: $on-surface;
    background: $surface-container;
    padding: 12px;
    border-radius: 16px;
  }
}