$swatch: (
  info: #415f91,
  on-info: #ffffff,
  info-container: #d6e3ff,
  on-info-container: #001b3e,
  warning: #6d5e0f,
  on-warning: #ffffff,
  warning-container: #f8e287,
  on-warning-container: #221b00,
  success: #4c662b,
  on-success: #ffffff,
  success-container: #cdeda3,
  on-success-container: #102000,
  accent: #705575,
  on-accent: #ffffff,
  accent-container: #fad8fd,
  on-accent-container: #28132e,
);
