@use "../../utils" as *;

@mixin core-divider--styles {
  margin: 0;

  @include variant(horizontal, true) {
    height: 1px;
    width: 100%;
  }

  @include variant(vertical) {
    width: 1px;
    height: 100%;
  }
}

