@forward "./avatars/avatar.scss";
@forward "./badges/badge.scss";
@forward "./bars/bar.scss";
@forward "./buttons/button.scss";
@forward "./cards/card.scss";
@forward "./chips/chip.scss";
@forward "./dialogs/dialog.scss";
@forward "./dividers/divider.scss";
@forward "./iconography/icon.scss";
@forward "./inputs/checkbox.scss";
@forward "./inputs/input.scss";
@forward "./inputs/radio.scss";
@forward "./inputs/switch.scss";
@forward "./inputs/text-field.scss";
@forward "./lists/list.scss";
@forward "./lists/list-item.scss";
@forward "./menus/menu.scss";
@forward "./menus/menu-item.scss";
@forward "./navigation/navigation.scss";
@forward "./navigation/navigation-item.scss";
@forward "./sheets/bottom-sheet.scss";
@forward "./tabs/tab-group.scss";
@forward "./tabs/tab.scss";
@forward "./tooltips/tooltip.scss";
@forward "./text/text.scss";
@forward "./layout/container.scss";
@forward "./layout/column.scss";
@forward "./layout/row.scss";

@use "./avatars/avatar.scss" as *;
@use "./badges/badge.scss" as *;
@use "./bars/bar.scss" as *;
@use "./buttons/button.scss" as *;
@use "./cards/card.scss" as *;
@use "./chips/chip.scss" as *;
@use "./dialogs/dialog.scss" as *;
@use "./dividers/divider.scss" as *;
@use "./iconography/icon.scss" as *;
@use "./inputs/checkbox.scss" as *;
@use "./inputs/input.scss" as *;
@use "./inputs/radio.scss" as *;
@use "./inputs/switch.scss" as *;
@use "./inputs/text-field.scss" as *;
@use "./lists/list.scss" as *;
@use "./lists/list-item.scss" as *;
@use "./menus/menu.scss" as *;
@use "./menus/menu-item.scss" as *;
@use "./navigation/navigation.scss" as *;
@use "./navigation/navigation-item.scss" as *;
@use "./sheets/bottom-sheet.scss" as *;
@use "./tabs/tab-group.scss" as *;
@use "./tabs/tab.scss" as *;
@use "./tooltips/tooltip.scss" as *;
@use "./text/text.scss" as *;
@use "./layout/container.scss" as *;
@use "./layout/column.scss" as *;
@use "./layout/row.scss" as *;

@mixin component--styles {
  @include avatar--styles();
  @include badge--styles();
  @include bar--styles();
  @include button--styles();
  @include card--styles();
  @include chip--styles();
  @include dialog--styles();
  @include divider--styles();
  @include icon--styles();
  @include checkbox--styles();
  @include input--styles();
  @include radio--styles();
  @include switch--styles();
  @include text-field--styles();
  @include list--styles();
  @include list-item--styles();
  @include menu--styles();
  @include menu-item--styles();
  @include navigation--styles();
  @include navigation-item--styles();
  @include bottom-sheet--styles();
  @include tab-group--styles();
  @include tab--styles();
  @include tooltip--styles();
  @include text--styles();
  @include container--styles();
  @include column--styles();
  @include row--styles();
}
