@use "../../styles" as *;
@use "@baka/design-core" as *;

.baka-badge {
  @include label-small;

  border-radius: 100px;

  color: $on-error;
  background: $error;

  @include variant(small, true) {
    width: 6px;
    height: 6px;
  }

  @include variant(single-digit) {
    width: 16px;
    height: 16px;
    padding: 1px;
  }

  @include variant(multi-digit) {
    width: auto;
    height: 16px;
    padding: 0 4px;
  }
}
