@use "baka-core" as baka;
@use "../../design" as *;

@mixin badge--styles {
  .baka-badge {
    @include baka.badge--styles;
    @include label-small;

    border-radius: 100px;

    color: map-get($swatch, on-error);
    background: map-get($swatch, error);

    @include baka.variant(small, true) {
      width: 6px;
      height: 6px;
    }

    @include baka.variant(single-digit) {
      width: 16px;
      height: 16px;
      padding: 1px;
    }

    @include baka.variant(multi-digit) {
      width: auto;
      height: 16px;
      padding: 0 4px;
    }
  }
}
