@use "sass:map";
@use "../../design" as *;
@use "baka-core" as baka;
@use "../../common/focus.scss" as *;

@mixin list-item--styles {
  .baka-list-item {
    @include baka.list-item--styles;
    @include body-1;

    gap: #{map.get($spacing, horizontal-s)};
    padding: #{map.get($spacing, vertical-m-nudge)} #{map.get($spacing, horizontal-m-nudge)};

    .baka-text {
      flex-grow: 1;
    }

    @include focus-indicator;

    @include baka.hover($readonly: false) {
      cursor: pointer;
    }

    @include baka.focus($readonly: false) {
      outline: none;
    }
  }
}
