@use "baka-material-you/themes/dark" as dark-swatch;
@use "baka-material-you" as *;
@forward "baka-material-you";

body,
.docs-story {
  color: map-get($swatch, on-surface);
  background-color: map-get($swatch, surface);

  &[data-theme="dark"] {
    @include dark-swatch.styles;
  }

  pre {
    color: black !important;
  }

  &:has(.container-high) {
    background-color: $surface-container-high;
  }

  &:has(.container-low) {
    background-color: $surface-container-low;
  }
}
