@forward "baka-material-you";
@use "baka-material-you" as *;

body,
.docs-story {
  background-color: $surface;

  &:has(.container-high) {
    background-color: $surface-container-high;
  }

  &:has(.container-low) {
    background-color: $surface-container-low;
  }
}
