@use "baka-core" as *;
@use "../../styles/" as *;

.baka-column {
  @include column();

  @each $size, $breakpoint in $breakpoints {
    $_width: map-get($breakpoint, width);
    $_screen: map-get($breakpoint, screen);
    $_columns: map-get($breakpoint, columns);
    $_gutter: map-get($breakpoint, gutter);

    @media screen and (min-width: $_screen) {
      @for $i from 1 through $_columns {
        &[data-count="#{$i}"] {
          width: calc(($i / $_columns) * 100% - $_gutter);
        }
      }
    }
  }
}
