@use "baka-core" as *;
@use "../../design/" as *;

@mixin row--styles {
  .baka-row {
    @include core-row--styles;
    @include core-row--styles();

    @each $size, $breakpoint in $breakpoints {
      $_gutter: map-get($breakpoint, gutter);
      $_screen: map-get($breakpoint, screen);
      $_margin: map-get($breakpoint, margin);

      @media screen and (min-width: $_screen) {
        gap: $_gutter;
        padding-inline: $_margin;
      }
    }
  }
}
