@use "../../design" as *;

@mixin styles {
  .row {
    @each $size, $breakpoint in $layout {
      $_gutter: map-get($breakpoint, gutter);
      $_screen: map-get($breakpoint, screen);
      $_margin: map-get($breakpoint, margin);

      @media screen and (min-width: $_screen) {
        gap: $_gutter;
        padding-inline: $_margin;
      }
    }
  }
}
