@use "baka-core" as *;

$layout: (
  xs: (
    screen: 0,
    width: 100%,
    columns: 4,
    gutter: 16px,
    margin: 16px,
  ),
  sm: (
    screen: 600px,
    width: 100%,
    columns: 8,
    gutter: 16px,
    margin: 32px,
    regions: (
      left: (
        width: 80px,
        offset: -16px,
      ),
    ),
  ),
  md: (
    screen: 905px,
    width: 100%,
    columns: 10,
    gutter: 16px,
    margin: 32px,
    regions: (
      left: (
        width: 80px,
      ),
    ),
  ),
  lg: (
    screen: 1240px,
    width: 880px,
    columns: 12,
    gutter: 24px,
    margin: 24px,
    regions: (
      left: (
        width: 80px,
      ),
    ),
  ),
  xl: (
    screen: 1440px,
    width: 1128px,
    columns: 12,
    gutter: 24px,
    margin: 24px,
    regions: (
      left: (
        width: 360px,
      ),
    ),
  ),
);

@mixin layout--styles {
  *, ::before, ::after  {
    @include css-vars($layout, --layout);
  }
}
