$motion-duration-short-1: 50ms;
$motion-duration-short-2: 100ms;
$motion-duration-short-3: 150ms;
$motion-duration-short-4: 200ms;
$motion-duration-medium-1: 250ms;
$motion-duration-medium-2: 300ms;
$motion-duration-medium-3: 350ms;
$motion-duration-medium-4: 400ms;
$motion-duration-long-1: 450ms;
$motion-duration-long-2: 500ms;
$motion-duration-long-3: 550ms;
$motion-duration-long-4: 600ms;
$motion-duration-extra-long-1: 700ms;
$motion-duration-extra-long-2: 800ms;
$motion-duration-extra-long-3: 900ms;
$motion-duration-extra-long-4: 1000ms;

$motion-easing-linear: cubic-bezier(0, 0, 1, 1);
$motion-easing-standard: cubic-bezier(0.2, 0, 0, 1);
$motion-easing-standard-accelerate: cubic-bezier(0.3, 0, 1, 1);
$motion-easing-standard-decelerate: cubic-bezier(0, 0, 0, 1);
$motion-easing-emphasized: cubic-bezier(0.2, 0, 0, 1);
$motion-easing-emphasized-accelerate: cubic-bezier(0.3, 0, 0.8, 0.15);
$motion-easing-emphasized-decelerate: cubic-bezier(0.05, 0.7, 0.1, 1);

@mixin motion-transition-TBD($property...) {
  transition-property: $property;
  transition-duration: $motion-duration-medium-1;
  transition-timing-function: $motion-easing-standard;
}

@mixin motion--styles {
}
