@use "../../design" as *;
@use "baka-core" as *;

@mixin menu-item--styles {
  .baka-menu-item {
    @include core-menu-item--styles;
    --state: #{$on-surface};
    --modifier: transparent;
    --ripple: #{$on-surface};
    min-height: 56px;

    @include body-large;

    gap: 12px;
    padding: 12px 24px 12px 16px;

    @include state-layer {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      background: var(--modifier);

      @include motion-transition-TBD(background);
    }

    @include ripple(var(--ripple), $scale: 10);

    @include hover($readonly: false) {
      --modifier: #{color-mix(in srgb, #{var(--state)} 0.08 * 100%, transparent)};
    }

    @include focus($readonly: false) {
      --modifier: color-mix(in srgb, var(--state) 0.12 * 100%, transparent);
    }

    @include active($readonly: false) {
      --modifier: color-mix(in srgb, var(--state) 0.12 * 100%, transparent);
    }

    @include selected() {
      background: $surface-container-high;
    }

    @include dragged {
      box-shadow: map-get($elevation, 3);
    }

    @include disabled {
      opacity: 0.38;
    }

    @include variant(multi-line) {
      align-items: flex-start;
    }

    @include variant(video) {
      padding-inline-start: 0;
    }
  }
}
