@use "../../design" as *;
@use "baka-core" as baka;

@mixin icon--styles {
  .baka-icon {
    @include baka.icon--styles;
    font-weight: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    font-family: "Material Symbols Outlined";
    font-variation-settings: "FILL" 0, "wght" 600, "GRAD" 0, "opsz" 48;

    @include baka.variant(primary) {
      color: map-get($swatch, primary);
    }

    @include baka.variant(filled) {
      font-variation-settings: "FILL" 1, "wght" 600, "GRAD" 0, "opsz" 48;
    }

    @include baka.variant(small) {
      font-size: 20px;
    }

    @include baka.variant(medium, true) {
      font-size: 24px;
    }

    @include baka.variant(large) {
      font-size: 40px;
    }

    @include baka.variant(error) {
      color: map-get($swatch, error);
    }
  }
}
